##############################################################################
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

bs4==0.0.1
lxml==4.6.5
pandas==0.25.3
tushare==1.2.48
Click==7.0
requests==2.22.0
yamllint==1.20.0